<h2>Dear {{name}},</h2>
<br>
You have requested for a password reset to access the Tech Build Solution portal.</p>

<p>Please click on the URL below to change your password.</p>

<p><a href="{{link}}">Click Here</a></p><div class="yj6qo"></div><div class="adL">
</div></div>